<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/register.css">


    <title>Register</title>
</head>

<body>

    <%- include('../partials/header')-%>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
        integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

    <div class="container">
        <div class="row">
            <div class="col-md-11 mt-60 mx-md-auto">
                <div class="login-box bg-white pr-lg-5 pr-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-6 order-md-last">
                            <div class="form-wrap bg-white">
                                <h4 class="btm-sep pb-3 mb-5">Register</h4>
                                <form class="form" method="post" action="#">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="col-12">
                                                <div class="form-group position-relative">
                                                    <span class="zmdi zmdi-account"></span>
                                                    <input type="text" id="username" class="form-control"
                                                        placeholder="User Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="col-12">
                                                <div class="form-group position-relative">
                                                    <span class="zmdi zmdi-lock"></span>
                                                    <input type="password" id="password" class="form-control"
                                                        placeholder="Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="col-12">
                                                <div class="form-group position-relative">
                                                    <span class="zmdi zmdi-lock"></span>
                                                    <input type="password" id="verify_password" class="form-control"
                                                        placeholder="Verify Password">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <button type="button" id="register_btn"
                                                class="btn btn-lg btn-custom btn-dark btn-block">
                                                Sign Up
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-first">
                            <div class="content text-center">
                                <div class="border-bottom pb-5 mb-5">
                                    <h3 class="c-black">Already have an account?</h3>
                                    <a href="/login" class="btn btn-custom">sign In</a>
                                </div>
                                <h5 class="c-black mb-4 mt-n1">Or Sign Up With</h5>
                                <div class="socials">
                                    <a href="/register" class="zmdi zmdi-facebook"></a>
                                    <a href="/register" class="zmdi zmdi-twitter"></a>
                                    <a href="/register" class="zmdi zmdi-google"></a>
                                    <a href="/register" class="zmdi zmdi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>



    <script src="/js/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
</body>

</html>