<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/style.css"> -->

    <link rel="stylesheet" href="/css/about.css">
    <title>about</title>
</head>

<body>
    <%- include('partials/header')-%>
    <div class="container">
        <div class="container-inner">
          <div class="main-content">
            <div class="main-headings" id="main-headings-js">
            <p id="by-line">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      
            <div class="heading">
              <h3 id="heading1">Decouvrez</h3>
              <h3 id="heading2">la Jeune,</h3>
              <h1 id="heading3">Beaute</h1>
            </div>
      
            <div class="short-bio">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, repellat, quod sed optio nesciunt aspernatur inventore ab, nostrum accusantium harum dolor voluptate nulla!</p>
         
            </div>
      
            <a href="#" class="link" onclick="readMore()">Read More</a>
            </div>
            
            <div class="more-info " id="more-info-js">
              
              <h4>Lorem ipsum dolor sit.</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse expedita impedit iste, quibusdam debitis fugit repudiandae voluptatum vero quod nulla!</p>
              
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita delectus iusto facere dignissimos quaerat facilis voluptatibus fuga quod impedit. Atque tenetur amet officia repudiandae odit.</p>
              
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni saepe suscipit deleniti porro fugit! Atque nisi alias a porro fugiat incidunt exercitationem! Nihil, consectetur. Expedita.</p>
            </div>
            
          </div>
      
          <div class="image-wrapper">
          <div class="image-container">
            <img class="image" src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=755bbb2b0afd5808494a8723774cd141" alt="image of a young woman.">
          </div>
        </div>
      </div>
      </div>

    <script src="js/about.js"></script>
</body>

</html>