<!--

=========================================================
* Volt Free - Bootstrap 5 Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>Dashboard</title>


  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="Dashboard">
  <meta name="author" content="Themesberg">
  <meta name="description"
    content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
  <meta name="keywords"
    content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, themesberg, themesberg dashboard, themesberg admin dashboard" />
  <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://demo.themesberg.com/volt-pro">
  <meta property="og:title" content="Dashboard">
  <meta property="og:description"
    content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
  <meta property="og:image"
    content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://demo.themesberg.com/volt-pro">
  <meta property="twitter:title" content="Dashboard">
  <meta property="twitter:description"
    content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
  <meta property="twitter:image"
    content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- Fontawesome -->
  <link type="text/css" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Sweet Alert -->
  <link type="text/css" href="/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

  <!-- Notyf -->
  <link type="text/css" href="/vendor/notyf/notyf.min.css" rel="stylesheet">

  <!-- Volt CSS -->
  <link type="text/css" href="/css/volt.css" rel="stylesheet">

  <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
  <%- include('./partials/header') %>
</head>

<body>

  <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
  <!--  -->

  <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
    <a class="navbar-brand me-lg-5" href="/index.html">
      <img class="navbar-brand-dark" src="/assets/img/brand/light.svg" alt="Volt logo" /> <img
        class="navbar-brand-light" src="/assets/img/brand/dark.svg" alt="Volt logo" />
    </a>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img src="/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
              alt="Bonnie Green">
          </div>
          <div class="d-block">
            <h2 class="h6">Hi, Jane</h2>
            <a href="/pages/examples/sign-in.html" class="btn btn-secondary text-dark btn-xs"><span class="me-2"><span
                  class="fas fa-sign-out-alt"></span></span>Sign Out</a>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a href="/home" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
              <img src="/assets/img/favicon/android-chrome-512x512.png" height="20" width="20" alt="Volt Logo">
            </span>
            <span class="mt-1 ms-1 sidebar-text">Back to Home</span>
          </a>
        </li>
        <li class="nav-item ">
          <a href="/pages/dashboard/dashboard.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-tachometer-alt"></span></span>
            <span class="sidebar-text">Dashboard</span>
          </a>
        </li>



        <li class="nav-item ">
          <a href="https://demo.themesberg.com/volt-pro/pages/kanban.html" target="_blank"
            class="nav-link d-flex justify-content-between">
            <span>
              <span class="sidebar-icon"><span class="fas fa-newspaper"></span></span>
              <span class="sidebar-text">All Article</span>
            </span>

          </a>
        </li>

        <li class="nav-item ">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#submenu-app">
            <span>
              <span class="sidebar-icon"><span class="fas fa-table"></span></span>
              <span class="sidebar-text">Article</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse " role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item ">
                <a class="nav-link" href="/article/new">
                  <span class="sidebar-text">New Article</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/article/myArticle">
                  <span class="sidebar-text">My Articles</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/article/allArticle">
                  <span class="sidebar-text">All Article</span>
                </a>
              </li>
            </ul>
          </div>
        </li>







        <li class="nav-item active">
          <a href="/dashboard" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
            <span class="sidebar-text">My Info</span>
          </a>
        </li>

        <!-- <li class="nav-item">
          <span class="nav-link  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
            data-bs-target="#submenu-app" aria-expanded="true">
            <span>
              <span class="sidebar-icon "><span class="fas fa-table"></span></span>
              <span class="sidebar-text">My Info</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse show" role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item ">
                <a class="nav-link" href="/pages/tables/bootstrap-tables.html">
                  <span class="sidebar-text">Show profile</span>
                </a>
              </li>

              <li class="nav-item  active">
                <a class="nav-link" href="/pages/tables/bootstrap-tables.html">
                  <span class="sidebar-text">Edit Profile</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/pages/tables/bootstrap-tables.html">
                  <span class="sidebar-text">Reset Password</span>
                </a>
              </li>
            </ul>
          </div>
        </li> -->

        <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <p class="mb-0 text-center text-xl-left">Copyright ©<span class="current-year"></span> <a
              class="text-primary fw-normal" href="http://Qiftolly.ir" target="_blank">Qiftolly</a></p>
        </div>
      </ul>
    </div>
  </nav>

  <main class="content">

    <nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
      <div class="container-fluid px-0">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
          <div class="d-flex align-items-center">


            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
              
                <button class="btn btn-secondary text-dark me-2 dropdown-toggle" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="fas fa-plus me-2"></span>New Article
                </button>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
                  <a class="dropdown-item fw-normal rounded-top" href="/article/new"><span
                      class="far fa-file-alt me-2"></span>Create New Article</a>
                  <a class="dropdown-item fw-normal" href="#"><span class="far fa-comment-dots me-2"></span>Message</a>
                  <a class="dropdown-item fw-normal" href="#"><span class="fas fa-box-open me-2"></span>Product</a>
                  <div role="separator" class="dropdown-divider my-0"></div>
                  <a class="dropdown-item fw-normal rounded-bottom" href="#"><span
                      class="fas fa-rocket text-danger me-2"></span>My Plan</a>
                </div>
              

            </div>

          </div>
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="media d-flex align-items-center">
                  <img class="user-avatar md-avatar rounded-circle avatar_show" alt="Image placeholder"
                    src="/images/avatars/default.png">
                  <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                    <span class="mb-0 font-small fw-bold">Bonnie Green</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-0">
                <a class="dropdown-item rounded-top fw-bold" href="#"><span class="far fa-user-circle"></span>My
                  Profile</a>
                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-cog"></span>Settings</a>
                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-envelope-open-text"></span>Messages</a>
                <a class="dropdown-item fw-bold" href="#"><span class="fas fa-user-shield"></span>Support</a>
                <div role="separator" class="dropdown-divider my-0"></div>
                <a class="dropdown-item rounded-bottom fw-bold" id="delete_account_btn"><span
                    class="fas fa-trash-alt text-danger"></span>Delete account</a>
                <a class="dropdown-item rounded-bottom fw-bold" id="logout_btn"><span
                    class="fas fa-sign-out-alt text-danger"></span>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ?    ---------------------------------< Edit >--------------------------->

    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="card card-body shadow-sm mb-4">
          <h2 class="h5 mb-4">General information</h2>

          <div class="row">
            <div class="col-md-6 mb-3">
              <div>
                <label for="first_name">First Name</label>
                <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" required>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div>
                <label for="last_name">Last Name</label>
                <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" placeholder="name@company.com" required>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="gender">Gender</label>
              <select class="form-select mb-0" id="gender" aria-label="Gender select example">
                <option value="gender">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" type="number" placeholder="+98 - 900 000 0000" required>
              </div>
            </div>
          </div>
          <button class="btn btn-dark" type="button" id="update_btn">Save All</button>

          <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>

          <!-- ?    ---------------------------------< Form >--------------------------->

          <form action="/dashboard/avatar" method="post" enctype="multipart/form-data">
            <div class="col-12">
              <div class="card card-body shadow-sm mb-4">
                <h2 class="h5 mb-4">Select profile photo</h2>
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <!-- Avatar -->
                    <div class="user-avatar xl-avatar">
                      <img class="rounded avatar_show" src="/images/avatars/default.png" alt="change avatar">
                    </div>
                  </div>
                  <div class="file-field">
                    <div class="d-flex justify-content-xl-center ms-xl-3">
                      <div class="d-flex">
                        <span class="icon icon-md"><span class="fas fa-paperclip me-3"></span></span>
                        <input type="file" name="avatar">
                        <div class="d-md-block text-left">
                          <div class="fw-normal text-dark mb-1">Choose Image</div>
                          <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                      </div>
                    </div>
                    <input class="btn btn-sm btn-dark" type="submit" value="submit">Save</input>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <form action="/dashboard/background_cover" method="post" enctype="multipart/form-data">
            <div class="col-12 col-xl-12">
              <div class="card card-body shadow-sm mb-4">
                <h2 class="h5 mb-4">Select cover photo</h2>
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <!-- Avatar -->
                    <div class="user-avatar xl-avatar">
                      <img class="rounded avatar_cover" src="/images/background_cover/default.png"
                        alt="change cover photo">
                    </div>
                  </div>
                  <div class="file-field">
                    <div class="d-flex justify-content-xl-center ms-xl-3">
                      <div class="d-flex">
                        <span class="icon icon-md"><span class="fas fa-paperclip me-3"></span></span>
                        <input type="file" name="background_cover">
                        <div class="d-md-block text-left">
                          <div class="fw-normal text-dark mb-1">Choose Image</div>
                          <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                      </div>
                    </div>
                    <input class="btn btn-sm btn-dark" type="submit" value="submit">Save</input>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- ?    ---------------------------------< Form >--------------------------->
          <div class="col-lg-4">
            <!-- todo Button Modal -->
            <button type="button" class="btn btn-block btn-dark mb-3" data-bs-toggle="modal"
              data-bs-target="#modal-form-signup">Change Password</button>
            <!-- ? Modal Content -->
            <div class="modal fade" id="modal-form-signup" tabindex="-1" aria-labelledby="modal-form-signup"
              style="display: none;" aria-hidden="true"> ?
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body p-0">
                    <div class="card p-3 p-lg-4">
                      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                      <div class="card-header border-0 text-center pb-0">
                        <h2 class="mb-0 h5">Change Password</h2>
                      </div>
                      <div class="card-body p-0 p-lg-3">

                        <!-- Form -->
                        <div class="form-group mb-4">
                          <label for="old-password">Old Password</label>
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon3"><span
                                class="fas fa-unlock-alt"></span></span>
                            <input type="password" class="form-control" placeholder="Old Password" id="old_pass"
                              required="">
                          </div>
                        </div>
                        <!-- End of Form -->
                        <div class="form-group">
                          <!-- Form -->
                          <div class="form-group mb-4">
                            <label for="password">New Password</label>
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon4"><i class="fas fa-unlock-alt"></i></span>
                              <input type="password" placeholder="New Password" class="form-control" id="new_pass"
                                required="">
                            </div>
                          </div>
                          <!-- End of Form -->
                          <!-- Form -->
                          <div class="form-group mb-4">
                            <label for="password_confirm">Confirm Password</label>
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon5"><span
                                  class="fas fa-lock-alt"></span></span>
                              <input type="password" placeholder="Confirm Password" class="form-control"
                                id="confirm_pass" required="">
                            </div>
                          </div>

                          <div class="d-grid">
                            <button type="submit" class="btn btn-dark" id="change_pass_btn">Sign up</button>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ? End of Modal Content -->
          </div>

        </div>

      </div>
      <div class="col-12 col-xl-4">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="card shadow-sm text-center p-0">
              <div class="profile-cover rounded-top avatar_cover"
                data-background="/images/background_cover/default.jpg"></div>
              <div class="card-body pb-5">
                <img src="/images/avatars/default.png"
                  class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4 avatar_show" alt="Neil Portrait">
                <h4 class="h3" id="username_show"></h4>
                <h5 class="fw-normal" id="name_show"></h5>
                <p class="text-gray mb-4" id="email_show"></p>
                <p class="text-gray mb-4" id="gender_show"></p>
                <p class="text-gray mb-4" id="phonenumber_show"></p>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <!-- ?    ---------------------------------< /Edit >--------------------------->
    <footer class="footer section py-5">
      <div class="row">


        <div class="col-12 col-lg-6">
          <!-- List -->
          <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
            <li class="list-inline-item px-0 px-sm-2">
              <a href="https://themesberg.com/about">About</a>
            </li>
            <li class="list-inline-item px-0 px-sm-2">
              <a href="https://themesberg.com/blog">Blog</a>
            </li>
            <li class="list-inline-item px-0 px-sm-2">
              <a href="https://themesberg.com/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </main>




  <!-- Core -->
  <script src="/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Vendor JS -->
  <script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script>

  <!-- Slider -->
  <script src="/vendor/nouislider/distribute/nouislider.min.js"></script>

  <!-- Smooth scroll -->
  <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Charts -->
  <script src="/vendor/chartist/dist/chartist.min.js"></script>
  <script src="/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

  <!-- Datepicker -->
  <script src="/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

  <!-- Sweet Alerts 2 -->
  <script src="/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

  <!-- Moment JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- Vanilla JS Datepicker -->
  <script src="/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

  <!-- Notyf -->
  <script src="/vendor/notyf/notyf.min.js"></script>

  <!-- Simplebar -->
  <script src="/vendor/simplebar/dist/simplebar.min.js"></script>

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Volt JS -->
  <script src="/assets/js/volt.js"></script>

  <script src="/js/dashboard.js"></script>

</body>

</html>