<link rel="stylesheet" href="css/home.css">
<html lang="en" class="perfect-scrollbar-on"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <title>
      Black Dashboard PRO by Creative Tim
    </title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/black-dashboard">
    <!--  Social tags      -->
    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, bootstrap 4, css3 dashboard, bootstrap 4 admin, black dashboard bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, black design, black dashboard bootstrap 4 dashboard">
    <meta name="description" content="Black Dashboard PRO is a beautiful Bootstrap 4 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Black Dashboard PRO by Creative Tim">
    <meta itemprop="description" content="Black Dashboard PRO is a beautiful Bootstrap 4 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/93/opt_bd_thumbnail.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Black Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Black Dashboard PRO is a beautiful Bootstrap 4 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/93/opt_bd_thumbnail.jpg">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Black Dashboard PRO by Creative Tim">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://demos.creative-tim.com/black-dashboard-pro/examples/dashboard.html">
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/93/opt_bd_thumbnail.jpg">
    <meta property="og:description" content="Black Dashboard PRO is a beautiful Bootstrap 4 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta property="og:site_name" content="Creative Tim">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../../assets/css/nucleo-icons.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../../assets/css/black-dashboard.min.css?v=1.1.1" rel="stylesheet">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../assets/demo/demo.css" rel="stylesheet">
  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/7/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/7/util.js"></script></head>
  
  <body class="pricing-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent fixed-top" style="top: 0px; transition: all 0.5s linear 0s;">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle d-inline">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:void(0)">Pricing Page</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="../dashboard.html" class="nav-link text-primary">
                <i class="tim-icons icon-minimal-left"></i> Back to Dashboard
              </a>
            </li>
            <li class="nav-item ">
              <a href="register.html" class="nav-link">
                <i class="tim-icons icon-laptop"></i> Register
              </a>
            </li>
            <li class="nav-item ">
              <a href="login.html" class="nav-link">
                <i class="tim-icons icon-single-02"></i> Login
              </a>
            </li>
            <li class="nav-item  active ">
              <a href="pricing.html" class="nav-link">
                <i class="tim-icons icon-coins"></i> Pricing
              </a>
            </li>
            <li class="nav-item ">
              <a href="lock.html" class="nav-link">
                <i class="tim-icons icon-lock-circle"></i> Lock
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page ">
      <div class="full-page pricing-page">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h1 class="title">Pick the best plan for you</h1>
                <h4 class="description">You have Free Unlimited Updates and Premium Support on each package.</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="card card-pricing card-primary">
                  <div class="card-body">
                    <h1 class="card-title">pro</h1>
                    <img class="card-img" src="../../assets/img/card-primary.png" alt="Image">
                    <ul class="list-group">
                      <li class="list-group-item">300 messages</li>
                      <li class="list-group-item">150 emails</li>
                      <li class="list-group-item">24/7 Support</li>
                    </ul>
                    <div class="card-prices">
                      <h3 class="text-on-front">
                        <span>$</span>95</h3>
                      <h5 class="text-on-back">95</h5>
                      <p class="plan">Professional plan</p>
                    </div>
                  </div>
                  <div class="card-footer text-center mb-3 mt-3">
                    <button class="btn btn-round btn-just-icon btn-primary">Get started</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-pricing card-success card-white">
                  <div class="card-body">
                    <h1 class="card-title">basic</h1>
                    <img class="card-img" src="../../assets/img/card-success.png" alt="Image">
                    <ul class="list-group">
                      <li class="list-group-item">50 messages</li>
                      <li class="list-group-item">100 emails</li>
                      <li class="list-group-item">24/7 Support</li>
                    </ul>
                    <div class="card-prices">
                      <h3 class="text-on-front">
                        <span>$</span>57</h3>
                      <h5 class="text-on-back">57</h5>
                      <p class="plan">Basic plan</p>
                    </div>
                  </div>
                  <div class="card-footer text-center mb-3 mt-3">
                    <button class="btn btn-round btn-just-icon btn-success">Get started</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-pricing card-warning card-raised card-white">
                  <div class="card-body">
                    <h1 class="card-title">mid</h1>
                    <img class="card-img" src="../../assets/img/card-warning.png" alt="Image">
                    <ul class="list-group">
                      <li class="list-group-item">200 messages</li>
                      <li class="list-group-item">130 emails</li>
                      <li class="list-group-item">24/7 Support</li>
                    </ul>
                    <div class="card-prices">
                      <h3 class="text-on-front">
                        <span>$</span>72</h3>
                      <h5 class="text-on-back">72</h5>
                      <p class="plan">Medium plan</p>
                    </div>
                  </div>
                  <div class="card-footer text-center mb-3 mt-3">
                    <button class="btn btn-round btn-just-icon btn-warning">Get started</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-pricing card-danger card-white">
                  <div class="card-body">
                    <h1 class="card-title">trial</h1>
                    <img class="card-img" src="../../assets/img/card-danger.png" alt="Image">
                    <ul class="list-group">
                      <li class="list-group-item">50 messages</li>
                      <li class="list-group-item">50 emails</li>
                      <li class="list-group-item">No Support</li>
                    </ul>
                    <div class="card-prices">
                      <h3 class="text-on-front">
                        <span>$</span>9</h3>
                      <h5 class="text-on-back">9</h5>
                      <p class="plan">Trial plan</p>
                    </div>
                  </div>
                  <div class="card-footer text-center mb-3 mt-3">
                    <button class="btn btn-round btn-just-icon btn-danger">Get started</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-5">
              <h3 class="title">Professional Plan</h3>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>Premium pricing is the strategy of consistently pricing at, or near, the high end of the possible price range to help attract status-conscious consumers. The high pricing of a premium product ...</p>
              </div>
              <div class="col-md-6 ml-auto">
                <div class="progress-container progress-warning">
                  <span class="progress-badge">500GB</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                    </div>
                  </div>
                </div>
                <div class="progress-container progress-primary">
                  <span class="progress-badge">4 years</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <ul class="nav">
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  Creative Tim
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  Blog
                </a>
              </li>
            </ul>
            <div class="copyright">
              ©
              <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://connect.facebook.net/signals/config/111649226022273?v=2.9.33&amp;r=stable" async=""></script><script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script>
                document.write(new Date().getFullYear())
              </script>2021 made with <i class="tim-icons icon-heart-2"></i> by
              <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../../assets/js/core/jquery.min.js"></script>
    <script src="../../assets/js/core/popper.min.js"></script>
    <script src="../../assets/js/core/bootstrap.min.js"></script>
    <script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="../../assets/js/plugins/sweetalert2.min.js"></script>
    <!--  Plugin for Sorting Tables -->
    <script src="../../assets/js/plugins/jquery.tablesorter.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="../../assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../../assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="../../assets/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="../../assets/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="../../assets/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../../assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGat1sgDZ-3y6fFe6HD7QUziVC6jlJNog"></script>
    <!-- Chart JS -->
    <script src="../../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../assets/js/black-dashboard.min.js?v=1.1.1"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="../../assets/demo/demo.js"></script>
    <!-- Sharrre libray -->
    <script src="../../assets/demo/jquery.sharrre.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-46172202-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
  
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
  
      gtag('config', 'UA-46172202-12');
    </script>
    <script>
      $(document).ready(function() {
  
  
        $('#facebook').sharrre({
          share: {
            facebook: true
          },
          enableHover: false,
          enableTracking: false,
          enableCounter: false,
          click: function(api, options) {
            api.simulateClick();
            api.openPopup('facebook');
          },
          template: '<i class="fab fa-facebook-f"></i> Facebook',
          url: 'https://demos.creative-tim.com/black-dashboard-pro/examples/dashboard.html'
        });
  
        $('#google').sharrre({
          share: {
            googlePlus: true
          },
          enableCounter: false,
          enableHover: false,
          enableTracking: true,
          click: function(api, options) {
            api.simulateClick();
            api.openPopup('googlePlus');
          },
          template: '<i class="fab fa-google-plus"></i> Google',
          url: 'https://demos.creative-tim.com/black-dashboard-pro/examples/dashboard.html'
        });
  
        $('#twitter').sharrre({
          share: {
            twitter: true
          },
          enableHover: false,
          enableTracking: false,
          enableCounter: false,
          buttons: {
            twitter: {
              via: 'CreativeTim'
            }
          },
          click: function(api, options) {
            api.simulateClick();
            api.openPopup('twitter');
          },
          template: '<i class="fab fa-twitter"></i> Twitter',
          url: 'https://demos.creative-tim.com/black-dashboard-pro/examples/dashboard.html'
        });
  
  
  
        // Facebook Pixel Code Don't Delete
        ! function(f, b, e, v, n, t, s) {
          if (f.fbq) return;
          n = f.fbq = function() {
            n.callMethod ?
              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
          };
          if (!f._fbq) f._fbq = n;
          n.push = n;
          n.loaded = !0;
          n.version = '2.0';
          n.queue = [];
          t = b.createElement(e);
          t.async = !0;
          t.src = v;
          s = b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t, s)
        }(window,
          document, 'script', '//connect.facebook.net/en_US/fbevents.js');
  
        try {
          fbq('init', '111649226022273');
          fbq('track', "PageView");
  
        } catch (err) {
          console.log('Facebook Track Error:', err);
        }
  
  
        //
        //
        //
  
      });
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
    </noscript>
    <script>
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
          $navbar = $('.navbar');
          $main_panel = $('.main-panel');
  
          $full_page = $('.full-page');
  
          $sidebar_responsive = $('body > .navbar-collapse');
          sidebar_mini_active = true;
          white_color = false;
  
          window_width = $(window).width();
  
          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
  
  
  
          $('.fixed-plugin a').click(function(event) {
            if ($(this).hasClass('switch-trigger')) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });
  
          $('.fixed-plugin .background-color span').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
  
            var new_color = $(this).data('color');
  
            if ($sidebar.length != 0) {
              $sidebar.attr('data', new_color);
            }
  
            if ($main_panel.length != 0) {
              $main_panel.attr('data', new_color);
            }
  
            if ($full_page.length != 0) {
              $full_page.attr('filter-color', new_color);
            }
  
            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr('data', new_color);
            }
          });
  
          $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);
  
            if (sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              sidebar_mini_active = false;
              blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            } else {
              $('body').addClass('sidebar-mini');
              sidebar_mini_active = true;
              blackDashboard.showSidebarMessage('Sidebar mini activated...');
            }
  
            // we simulate the window Resize so the charts will get updated in realtime.
            var simulateWindowResize = setInterval(function() {
              window.dispatchEvent(new Event('resize'));
            }, 180);
  
            // we stop the simulation of Window Resize after the animations are completed
            setTimeout(function() {
              clearInterval(simulateWindowResize);
            }, 1000);
          });
  
          $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);
  
            if (white_color == true) {
  
              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').removeClass('white-content');
              }, 900);
              white_color = false;
            } else {
  
              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').addClass('white-content');
              }, 900);
  
              white_color = true;
            }
  
  
          });
  
          $('.light-badge').click(function() {
            $('body').addClass('white-content');
          });
  
          $('.dark-badge').click(function() {
            $('body').removeClass('white-content');
          });
        });
      });
    </script>
  
  
  
  <script src="js/home.js"></script>
  </body></html>