<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header')-%>
    <div id="board">
        <div class="column">
            <ul class="card-list">
                <li class="card" draggable="true">mohammad</li>
                <li class="card" draggable="true">ali</li>
                <li class="card" draggable="true">ghambar</li>
                <li class="card" draggable="true">hossein</li>
                <li class="card" draggable="true">ahmad</li>
                <li class="card" draggable="true">reza</li>

            </ul>
        </div>
        <div class="column">
            <ul class="card-list">
                <li class="card" draggable="true">eshgh</li>
                <li class="card" draggable="true">safa</li>
                <li class="card" draggable="true">doosti</li>
                <li class="card" draggable="true">marefat</li>
                <li class="card" draggable="true">love</li>
                <li class="card" draggable="true">agha</li>
            </ul>
        </div>
        <div class="column">
            <ul class="card-list">
                <li class="card" draggable="true">khar</li>
                <li class="card" draggable="true">mar</li>
                <li class="card" draggable="true">shir</li>
                <li class="card" draggable="true">palang</li>
                <li class="card" draggable="true">meimoon</li>
                <li class="card" draggable="true">moorche</li>
            </ul>
        </div>
        <div id="modalOverlay"></div>
    </div>
    <!--<script src="js/search.js"></script>
    <script src="js/home.js"></script> -->
    <script src="js/home.js"></script>
</body>

</html>